header.app-bar.promote-layer
  div.app-bar-container
    button.menu
      img(src="/images/hamburger.svg", alt="Menu")
    h1.logo
      block title
    section.app-bar-actions
    <!-- Put App Bar Buttons Here -->
