.hidden {
  display: none;
}

.inner-list {
  padding: 10px 0 20px 0;
}

.available-command-execution-details {
  padding: 20px;
  background: #eeeeee;
  margin-top: 1.625em;
  font-family: "Ubuntu Mono";
  overflow: auto;
}
.available-command-execution-details.error {
  background: #ebb6b0;
}

.spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #333333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
